<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llg.hnbc.mapper.dao.QuestionMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO question (title, quest_explain, answer, create_by, create_time, update_by, update_time)
        VALUES (#{title}, #{questExplain}, #{answer}, #{createBy}, now(), #{updateBy}, now())
    </insert>

    <insert id="addAnswer">
        INSERT INTO answer (question_id, option_no, option_content)
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
                #{item.questionId}, #{item.optionNo}, #{item.optionContent}
            )
        </foreach >
    </insert>

    <update id="updateQuestion">
        UPDATE question SET
            title = #{title},
            quest_explain = #{questExplain},
            answer = #{answer},
            update_by = #{updateBy},
            update_time = now()
        WHERE id = #{id}
    </update>

    <delete id="delete">
        delete from question where id = #{id}
    </delete>

    <delete id="deleteAnswerByQuestionId">
        delete from answer where question_id = #{id}
    </delete>

    <select id="listQuestion" resultType="com.llg.hnbc.entity.Question">
        select id, title, quest_explain questExplain, answer, create_time createTime
        ,(select option_content from answer where question_id = q.id and option_no = 'A') optionA
        ,(select option_content from answer where question_id = q.id and option_no = 'B') optionB
        ,(select option_content from answer where question_id = q.id and option_no = 'C') optionC
        ,(select option_content from answer where question_id = q.id and option_no = 'D') optionD
        from question q
        <where>
            <if test="title != null and title != ''">
                q.title like concat('%', #{title}, '%')
            </if>
            <if test="id != null and id != ''">
                and q.id = #{id}
            </if>
            <if test="createBy != null and createBy != ''">
                and q.create_by like concat('%', #{createBy}, '%')
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="getQuestionCount" resultType="java.lang.Integer">
        select count(*) conut_ from question
    </select>
</mapper>
